{
  "script": {
        "lang": "mustache",
        "source": {
            "query": {
                "bool": {
                    "must": [
                        {
                            "match": { 
                                "incident.id": {% raw %} "{{ incident_id }}" {% endraw %}
                            } 
                        }
                    ],
                    "must_not": [
                        {
                            "match": { 
                                "state": {% raw %} "{{ state }}" {% endraw %}
                            } 
                        }
                    ],
                    "filter": [
                        { 
                            "range": {
                                "@timestamp": {
                                    "time_zone": "+02:00",
                                    "gte": "now-60m",
                                    "lte": "now"
                                }
                            }
                        }
                    ]
                }
            }
        }
    }
}